<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Registry Explorer</title>
    
    <%= javascript_include_tag 'includes/ext-base' -%>
    <%= javascript_include_tag 'includes/ext-all' -%>
    <link rel="stylesheet" type="text/css" href="/resources/css/ext-all.css" />
</head>

<body>
  <%= javascript_tag %{

    Ext.onReady(function(){
        Ext.QuickTips.init();
        #{render :partial => "grid"}
        #{render :partial => "tree"}
        #{render :partial => "info_panel"}
        #{render :partial => "folder_form"}
        #{render :partial => "property_form"}
        #{render :partial => 'revisions'}
       
        var viewport = new Ext.Viewport({
            layout: 'border',
            defaults: {
              collapsible: false,
              split: true,
              bodyStyle: 'padding:0px'
            },
            items: [tree, 
              new Ext.Panel({
                layout: 'border',
                region: 'center',
                bodyBorder: false,
                border: false,
                defaults: {
                  collapsible: false,
                  split: false,
                  bodyStyle: 'padding:0px; font-size:8px;'
                },
                items: [grid, {
                  id: 'infoPanel',
                  region: 'south',
                  height: 50,
                  split: false,
                  margins: '2 2 2 0',
                  bodyStyle: 'padding:3px'
                }]
              })]
        });
    });
  } %>
    
</body>
</html>
